{% extends 'base.html.twig' %}
{% block main %}
    <main>
        <div class="navBarBuffer"></div>
        <section class="headSection">
            <div class="title">Profil</div>
        </section>
        <section class="profilSection">
            <div class="form">
                <div class="title">Se connecter</div>
                <div class="input-container ic1">
                    <label for="name">Votre nom :</label>
                    <input id="name" class="input" type="text" placeholder=" " />
                    <div class="cut"></div>
                </div>
                <div class="input-container ic1">
                    <label for="mdp">Votre mot de passe :</label>
                    <input id="mdp" class="input" type="password" placeholder=" " />
                    <div class="cut"></div>
                </div>
                <div class="btn-container icl">
                    <button class="btnProfile">Se connecter</button>
                    <div class="cut"></div>
                </div>
                <div class="link-container">
                    Pas encore de compte? <a href="#" class="link">Créer mon compte</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}