{% extends 'base.html.twig' %}

{% block title %}Hello TestControlerController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="/app.css">

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/restaurant/src/Controller/TestControlerController.php'|file_link(0) }}">src/Controller/TestControlerController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/restaurant/templates/test_controler/index.html.twig'|file_link(0) }}">templates/test_controler/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
